mixin game(title, caption, imageUrl, link)
    div.game
        a.no-hover(href=link, title=title)
            img.game-image(src=imageUrl, alt=title)
        div.captions
            a.game-title(href=link)= title
            div.game-caption= caption
