include ../components/footer.jade
include ../components/infoLabel.jade

mixin brandImage(src, dark, restrictHeight)
    div.row.padding-bottom
        div.col-xs-12
            div.brand-image
                if dark
                    img.dark-bg(class=restrictHeight ? "restrict-height" : "" src=src alt="Branding")
                else
                    img(class=restrictHeight ? "restrict-height" : "" src=src alt="Branding")

mixin screenshotRow(one, two)
    div.row.padding-bottom
        div.col-xs-6
            div.side-image
                img.clickable(src=one alt="The Thin Silence")
        div.col-xs-6
            div.side-image
                img.clickable(src=two alt="The Thin Silence")
                
mixin gifRow(one, two, three)
    div.row.padding-bottom
        div.col-xs-4
            div.gif-image
                img.clickable(src=one alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=two alt="The Thin Silence")
        div.col-xs-4
            div.gif-image
                img.clickable(src=three alt="The Thin Silence")

doctype html
html(lang="en")
  head
    title The Thin Silence & Two PM Presskit

    include ../favicon.jade
    include ../styles.jade

  body.presskit.inverted

    div.header
        div.top-left-corner-logo
        div
            a(href="the-thin-silence") &#8592; Back to the Game

    div.container

        div.row.game-header
            div.col-xs-12
                div.tts-logo

    div.container

        div.row
            div.col-sm-4
                h2 Facts

                +infoLabel("Studio")
                    span The Thin Silence (TTS) is being developed by <a href="index">Two PM</a>, based in Brisbane, Australia.

                +infoLabel("Production Started", "2013")

                +infoLabel("Release Date", "April 27th 2018")

                +infoLabel("Platforms")
                    span PC &amp; Mac

                +infoLabel("Website")
                    a(href="the-thin-silence") http://twopm.studio/the-thin-silence

                +infoLabel("Music (and Sound Design)")
                    a(href="https://soundcloud.com/lightfrequency" title="Lightfrequency") Lightfrequency

                +infoLabel("Links")
                    div
                        span The Thin Silence on <a href="http://store.steampowered.com/app/314630/The_Thin_Silence/">Steam</a>
                        br
                        span The Thin Silence on <a href="https://nkidu.itch.io/the-thin-silence">Itch.io</a>
                        br
                        span Read the devlog on <a href="https://forums.tigsource.com/index.php?topic=31994">TIGSource</a>
            div.col-sm-8

                h2 Game Description

                div.justify-align

                    h3 Meet Ezra Westmark
                    p The Thin Silence is a narrative adventure game told through the introspection and recollection of Ezra Westmark. Inspired by games such as Limbo and Knytt Stories, follow the journey of Ezra from his self-imposed exile to forgiveness and hope.

                    p The Thin Silence explores depression, self-doubt, struggles, and trials. Amongst the darkness, the game features that sound, that thin silence, which calls to us in our darkest hours. That sound we can’t hear or describe which somehow gives us the strength to try again and push through obstacles previously insurmountable. It’s not a game about success. 

                    p It’s a game of enduring your worst moment and facing the next one. Walk with Ezra out of the darkness, uncovering the journey that led him there and the hope that leads him home.

                    h3 Experience The Story
                    ul
                        li Enjoy 4-5 hours of unique and varied challenges driven by a fresh item-vs-environment interaction mechanic.
                        li Experience breathtaking vistas &amp; quiet contemplation
                        li Uncover Ezra’s crisis and his journey back, finding answers and a little bit of yourself along the way
                        li Featuring a moving original score by LightFrequency
                        li Over 40 unique in-game documents
                        li Mostly believable hacking sequences
                        li A wolf and a deer (not like, at the same time though)

                    h3 Proud Affiliate Of
                    div.center
                        a.no-background(href="https://checkpoint.org.au/" title="Checkpoint - Connecting Mental Health with Games")
                            img.checkpoint-image(src="img/checkpoint.png" alt="Checkpoint - Connecting Mental Health with Games")

        h2 Game & Studio History

        p The Thin Silence (TTS) is being developed by Ben Follington and Ricky James, two best buds from Brisbane, Australia. We&#39;ve been working on games together for <span id="yearCount">_</span> years and for some reason we haven&#39;t stopped yet. In the past we&#39;ve always been very mechanically focused in our game design and TTS was born our of our desire to challenge ourselves in a new way.

        p In 2012, we decided we wanted to make a serious game. This would be a longer and more intensive project than anything we had done before. The game actually began with far more of a focus on exploration and item crafting, but has shifted over time. We both have had experiences with loneliness and isolation, as we believe most people do. TTS gave a chance to talk about and explore these almost universal feelings, that are rarely confronted in games. TTS is a game with puzzles to solve and challenges to overcome, but to a certain extent the experience is about you sitting back and experiencing the world.

        p Generally, Ben is responsible for the programming and art asset production while Ricky is responsible for the game design, level design and writing.

        p You can read a little more about us <a href="about">here</a>.

        h2 Contact Details

        +infoLabel("Email")
            <a href="#"><script type="text/javascript">document.write('hey&#x00040;' + 'twopm&#x0002E;studio')</script></a><br>

        +infoLabel("Twitter")
            <a href="https://twitter.com/vivavolt">@vivavolt</a> (Ben)
            <a href="https://twitter.com/iammonshushu">@iammonshushu</a> (Ricky)

        h2 Videos & Gifs
        a(href="img/gifs/gifs.zip") Download all gifs as a .zip
        
        div.row
            div.col-xs-12
                div.trailer 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5ze1-9ZIEx0" frameborder="0" allowfullscreen></iframe>

        div.row
            div.col-xs-12
                div.trailer 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jWjOAPiLBkg" frameborder="0" allowfullscreen></iframe>
                
        div#gifs
            +gifRow("img/gifs/barn.gif", "img/gifs/breathe.gif", "img/gifs/climb.gif")
            +gifRow("img/gifs/get-item.gif", "img/gifs/kick.gif", "img/gifs/pull-bridge.gif")
            +gifRow("img/gifs/relax.gif", "img/gifs/run.gif", "img/gifs/secret.gif")
            +gifRow("img/gifs/sitting.gif", "img/gifs/tie-down.gif", "img/gifs/tent.gif")
            +gifRow("img/gifs/basket.gif", "img/gifs/bridge.gif", "img/gifs/fire.gif")
            +gifRow("img/gifs/office.gif", "img/gifs/reception.gif", "img/gifs/row.gif")
            +gifRow("img/gifs/sad.gif",  "img/gifs/shrine.gif", "img/gifs/tree.gif")

        h2 Hi-Res Screenshots
        a(href="img/screens/screens.zip") Download all screenshots as a .zip
        div#images
            +screenshotRow("img/screens/a4_4.png", "img/screens/a4_2.png")
            +screenshotRow("img/screens/a4_1.png", "img/screens/a_shavi.png")
            +screenshotRow("img/screens/a2_1.png", "img/screens/a1_2.png")

        h2 Branding Images
        a(href="img/branding/branding.zip") Download all branding resources as a .zip

        div
            +brandImage("img/branding/GameControllerLogoDark.png", false, true)
            +brandImage("img/branding/GameControllerLogoLight.png", true, true)
            +brandImage("img/branding/HorizontalLogoDark.png", false, true)
            +brandImage("img/branding/LogoWithNameDark.png", false, true)
            +brandImage("img/branding/LogoWithNameLight.png", true, true)
            +brandImage("img/branding/TheThinSilenceBannerHorizontal.png")
            +brandImage("img/branding/TheThinSilenceBannerSquare.png")
            +brandImage("img/branding/TheThinSilenceLogoDark.png")
            +brandImage("img/branding/TheThinSilenceLogoLight.png", true)

        // h2 Awards & Recognition

        // h2 Selected Articles

        h2 Newsletter

        include ../mailchimp.html

        +footer(false)

        include ../ga.html
        include ../year-counter.jade

        link(href="scripts/viewerjs/viewer.css" rel="stylesheet")
        script(src="scripts/viewerjs/viewer.js")

        script(type="text/javascript").
            var options = {
                transition: false
            };
            var viewer = new Viewer(document.getElementById('images'), options);
            var gifViewer = new Viewer(document.getElementById('gifs'), options);
